body {
    margin: 0;
}

.div1, .div2 {
    width: 40%;
    height:200px;
    display:inline-block;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px 10px;
}

.div1 {
     background-color: aqua;
     border: 10px dotted blue;
     text-align: left;;
     
}

.div2 {
     background-color: chartreuse;
     border: 10px dashed green;
     float:right;
     text-align:right;
     /* display:none; */
}

.divcentered {
    width: 99%;
    border: none;  
    box-sizing: border-box;  
    /* border: 1px black solid; */
} 

.div3 {
    text-align: center;
    margin-top: 20px;
    padding: 10px 40px 10px 40px;
    /* margin: 0 10px 0 10px; */
    background-color: yellow;   
}
 